.clients {
  display: flex;
  justify-content: center;
  background: #FAFAFA;

  .container {
    max-width: 1440px;
    width: 100%;

    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    padding: 30px 198px;

    .description {
      color: #333;

      p:first-child {
        margin: 0;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: uppercase;
      }

      p:last-child {
        max-width: 236px;
        margin: 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }

      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .quantity {
        color: #333333;
        font-size: 40px;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
      }

      .text {
        display: flex;
        align-items: center;
        max-width: 236px;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }
    }
  }
}


.swiper-wrapper {
  align-items: center;
}

.swiper-backface-hidden .swiper-slide {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .clients {
    align-items: center;
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: #333;
    --swiper-navigation-sides-offset: 0px;

    .container {
      padding: 35px 31px;

      .description {
        display: flex;
        justify-content: center;
        align-items: center;

        .quantity {
        }

        .text {
          width: 162px;
        }

      }

    }
  }

}