.landingCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 255px;
  min-width: 352px;
  border-radius: 40px;
  gap: 30px;
  color: #555555;

  border: 3px solid #C4C4C4;
  padding: 38px 0;



  &:hover {
    border: 3px solid #E75934;
    background-color: #E75934;

    .landingCardTitle,
    .landingCardDescription li,
    .landingCardPrice,
    .landingCardVolume {
      color: #FFFFFF;
    }

    .LandingButton {
      background-color: #FFFFFF;
      color: #E75934;
    }

    .landingCardDescription h2 {
      text-decoration: underline #FFFFFF;
      color: #FFFFFF;
    }
  }

  .landingCardTitle {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .landingCardDescription li {
    font-size: 16px;
  }

  .landingCardPrice {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    color: #E75934;
  }

  .landingCardVolume {
    color: #E75934;
  }
}

