.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .container {
    display: flex;
    flex-direction: column;
    gap: 57px;
    max-width: 1440px;
    width: 100%;

    padding: 95px 198px 84px;

    .title {
      display: flex;
      align-items: center;
      padding: 34px 54px;
      font-size: 50px;
      font-weight: 400;
      line-height: 120%;
      color: #FFFFFF;
      text-transform: uppercase;
      position: relative;

      .titleBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 90vw;
        height: 100%;
        border-radius: 100px;
        background: #E75934;
        z-index: -1;

      }
    }

  }
}

.text {
  width: 262px;
  height: 66px;
  color: #555;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.security {
  left: 0;
}

.administration {
  left: 0;
}

.left {
  right: 0;
}

.right {
  left: 0;
 }

.weDo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 37px;

  .weDoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;

    .weDoTitle {
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 23px 46px;
      font-size: 50px;
      font-weight: bold;
      line-height: 120%;
      text-transform: uppercase;
      position: relative;

      .weDoTitleBg {
        position: absolute;
        top: 0;
        right: 0;
        width: 90vw;
        border-radius: 100px;
        border: 3px solid #E75934;
        height: 100%;
        &:hover{
          cursor: pointer;
          background-color: rgba(128, 128, 128, 0.3);
        }

      }
    }
    .weDoContent{
      display: flex;
      flex-wrap: wrap;
      gap: 27px;

    }

  }

}

