.carousel {
  width: 100%;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --swiper-navigation-size: 44px;
  --swiper-navigation-color:#333;
  --swiper-navigation-sides-offset: 0px;
}

@media screen and (max-width: 768px) {
  .carousel{
    --swiper-navigation-size: 20px;
  }
}

