.landingPage {
  display: flex;
  align-items: center;
  justify-content: center;

  .landingPageContainer {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding: 0 198px;

    .description {
      text-align: center;
    }

    .landingPageCardsContainer {
      display: flex;
      width: 100%;

    }

  }
}


