@import '@/common/mixins/mixins';

.landingPage {
  display: flex;
  align-items: center;
  justify-content: center;

  .landingPageContainer {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding: 0 174px 80px 174px;
    gap: 60px;

    .titleContainer {
      @include titleContainer();
    }

    .description {
      text-align: center;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 600;
    }

    .landingPageCardsContainer {
      display: flex;
      align-items: start;
      width: 100%;
    }

  }
}


@media screen and (max-width: 768px) {
  .landingPage {
    .landingPageContainer {
      padding: 0 31px 31px;

      .description {
        font-size: 17px;
      }
    }
  }
}
