.footer {
  display: flex;
  justify-content: center;
  background: #E75934;
  height: 153px;


  .container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 28px 198px;
    align-items: center;


    .options {
      display: flex;
      align-items: center;
      gap: 48px;


      .links {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;

        .link {
          margin: 0;
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          line-height: 140%;
          &:hover {
            color: #514E4E;
          }

          &:active {
            color: #514E4E
          }
        }
        .linkedin{
          &:hover {
            stroke: #514E4E;
          }
        }
      }

      .button {
        cursor: pointer;
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        .up {
          stroke: #FFFFFF;
        }

        &:hover {
          background-color: #E75934;
          border-color: #514E4E;

          .up {
            stroke: #514E4E;
          }
        }
        &:active {
          background-color: #A93719;
          border: 1px solid #A93719;
          .up {
            stroke: #FFFFFF;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer{
    height: 100%;
    .container{

      flex-direction: column;
      .options{
        margin-top: 31px;
        flex-direction: column;
        .links{
          width: 80vw;
          flex-direction: column;
        }
      }
    }
  }
}





