.devopsText {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 18px;
  line-height: 120%;
  color: #555555;
}

@media screen and (max-width: 768px) {
  .devopsText {
    padding: 0 31px;
  }
}