.weDo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 37px;


  .weDoContainer {
    display: flex;
    flex-direction: column;
    gap: 27px;


    .weDoTitle {
      display: flex;
      align-items: center;
      padding: 23px 46px;
      font-size: 50px;
      font-weight: bold;
      line-height: 120%;
      text-transform: uppercase;
      position: relative;


      

      .weDoTitleBg {
        position: absolute;
        top: 0;
        right: 0;
        width: 90vw;
        border-radius: 100px;
        border: 3px solid #E75934;
        height: 100%;
        &:hover{
          cursor: pointer;
          background-color: #FAFAFA;
          z-index: -1;
        }
      }
    }

    .weDoText {
      width: 262px;
      height: 66px;
      color: #555;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;


    }
  }

}

