.main {
  display: flex;
  justify-content: center;

  .container {
    max-width: 1440px;
    width: 100%;
    padding: 140px 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titleContainer {
      display: flex;
      align-items: center;
      gap: 47px;

      .link {
        display: flex;
        align-items: center;

        &:hover {
          .button {
            background-color: #E75934;
            stroke: #FFFFFF;
          }

          .titleLink {
            color: #E75934;
          }
        }

        &:active {
          .button {
            border: 1px solid #A93719;
            background-color: #A93719;
            stroke: #FFFFFF;
          }

          .titleLink {
            color: #A93719;
          }
        }

        .button {
          border: 1px solid #E75934;
          cursor: pointer;
          display: flex;
          width: 40px;
          height: 40px;
          padding: 8px;
          border-radius: 50%;
          stroke: #E75934;

        }
      }
    }

    .options {
      padding-top: 74px;
      .list {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
      }
    }
  }
}

