.main {
  display: flex;
  justify-content: center;

  .container {
    max-width: 1440px;
    width: 100%;
    padding: 0 198px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titleContainer {
      display: flex;
      align-items: center;
      gap: 10px;


      .link {
        display: flex;
        align-items: center;

        &:hover {
          .button {
            background-color: #E75934;
            stroke: #FFFFFF;
          }

          .titleLink {
            color: #E75934;
          }
        }

        &:active {
          .button {
            border: 1px solid #A93719;
            background-color: #A93719;
            stroke: #FFFFFF;
          }

          .titleLink {
            color: #A93719;
          }
        }

        .button {
          border: 1px solid #fff;
          cursor: pointer;
          display: flex;
          width: 40px;
          height: 40px;
          padding: 8px;
          border-radius: 50%;
          stroke: #fff;
          &:hover {
            background-color: #E75934;
            border-color: #514E4E;


              stroke: #514E4E;

          }

        }
      }
    }

    .options {
      padding-top: 74px;
      .list {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main .container{
    padding: 0 31px 31px;
    .titleContainer{
      .link{
        display: none;
      }
    }
    .options{
      padding-top: 25px;
    }
  }
}

