@import '@/common/mixins/mixins';
.main {
  display: flex;
  justify-content: center;

  .container {
    max-width: 1440px;
    width: 100%;
    padding: 0 198px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titleContainer {

      @include titleContainer();
    }

    .options {
      padding-top: 74px;

      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main .container {
    padding: 0 31px 31px;

    .titleContainer {
      .link {
        display: none;
      }
    }

    .options {
      padding-top: 25px;
    }
  }
}

