
:root {
  html {
    box-sizing: border-box;
    font-size: 100%;



    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }




  .swiper-wrapper {
    display: flex;
  }
  .swiper-backface-hidden .swiper-slide {
    display: flex;
    justify-content: center;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    --swiper-theme-color:#E75934;
    --swiper-pagination-bullet-size:14px;
  }
}

html{
  scroll-behavior: smooth;
}
