.landingHomePageText{
  display:flex;
  flex-direction: column;
  gap: 18px;
  .landingDescription{

    font-size: 23px;
    text-align: justify;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 768px) {
  .landingHomePageText {
    .landingDescription {
      text-align: center;
      font-size:18px;
    }
  }
}