
.homePage {
  display: flex;
  height: 80vh;
  justify-content: center;
  background-color: #FFFFFF;
  margin-top: 100px;

  .container {
    max-width: 1440px;
    width: 100%;
    padding: 0 198px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .description {
      display: flex;
      max-width: 610px;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 76px;
      z-index: 1;


      h1 {
        margin: 0;
        max-width: 529px;
        width: 100%;
        color: #333;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
      }
    }
  }
    .image{
      position: absolute;
      right: 200px;
      top: 210px;
    }

}

@media screen and (max-width:768px){
  .container{
    padding: 0 31px;
  }
 .container video{
   display: none;
 }
}