@mixin button(
  $background,
  $activeBackground,
  $hoverBackground,
  $disabledBackground
) {
  cursor: pointer;


  align-items: center;
  justify-content: center;
  border-radius: 11px;


  display: inline-flex;
  padding: 13px 24px;
  gap: 10px;

  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  line-height: 140%;

  background: $background;
  border: none;

  &:hover {
    background: $hoverBackground;
  }

  &:disabled {
    cursor: default;
    background: $disabledBackground;
  }

  &:active {
    background: $activeBackground;
  }
}
.link,
.primary {
  @include button(
                  #E75934,
                  #A93719,
                  #D34721,
                  #EC957E
  );

}


.fullWidth {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .link,
  .primary {
    font-size: 16px;
  }
}
