
.container {

 width: 100%;
  background-color: #EC957E;

  .rectangle {
    padding: 34px 54px;
    text-transform: uppercase;

    .title {
      font-size: 50px;
      font-weight: 400;
      line-height: 120%;
    }
  }
}


.right {
  border-radius: 6.25rem 0 0 6.25rem;
  border: 3px solid #E75934;
}

.left{
  border-radius: 0 6.25rem 6.25rem 0;
  border: 3px solid #E75934;
  text-align: right;
}

.text {
  color: #FFFFFF;

}

.bg {
  height: 7.9375rem;
}

.orange {
  background-color: #E75934;
}