
.heading {
  display: flex;
  align-items: center;
  gap: 15px;

  .title {
    color: #FFF;
    padding: 23px 15px;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;

    .titleBg {
      position: absolute;
      top: 0;
      right: 0;
      width: 90vw;
      border-radius: 100px;
      background-color: #E75934;
      height: 100%;
      z-index: -1;

    }
  }
  .description{
    max-width: 300px;
  }
}