
.heading {
  display: flex;
  align-items: center;
  gap: 15px;

  .title {
    color: #FFF;
    padding: 23px 15px;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;

    .titleBg {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      border-radius: 100px;
      background-color: #E75934;
      height: 100%;
      z-index: -1;

    }
  }
  .description{
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .heading{
    flex-direction: column;
    gap: 25px;
    .title{
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      display: flex;
      gap: 20px;

    }
  }
}

.link {
  display: flex;
  align-items: center;

  &:hover {
    .button {
      background-color: #E75934;
      stroke: #FFFFFF;
    }

    .titleLink {
      color: #E75934;
    }
  }

  &:active {
    .button {
      border: 1px solid #A93719;
      background-color: #A93719;
      stroke: #FFFFFF;
    }

    .titleLink {
      color: #A93719;
    }
  }

  .button {
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    stroke: #fff;
    &:hover {
      background-color: #E75934;
      border-color: #514E4E;


      stroke: #514E4E;

    }

  }
}
